@model IEnumerable<QualidadeDeSoftware.ViewObjects.ExercicioIndexView>

@{
    ViewData["Title"] = "Index";
}

<h1>Exercícios</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaAdequado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExercicioProgramado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstaAdequado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExercicioProgramado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aluno)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
